//Font Family
$medium_font-family_primary: 'MetropolisMedium', sans-serif;
$extra-bold_font-family_primary:  'MetropolisExtraBold', sans-serif;
$bold_font-family_primary: 'MetropolisBold', sans-serif;
$black_font-family_primary: 'MetropolisBlack', sans-serif;
$semi-bold_font-family_primary: 'MetropolisSemiBold', sans-serif;
$regular_font-family_primary: 'MetropolisRegular', sans-serif;


//Font Weight
$medium_font-weight: normal;
$extra-bold_font-weight:normal;
$bold_font-weight: normal;
$black_font-weight: normal;
$semi-bold-weight: normal;
$regular_font-weight: normal;

